.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
releases/quasar-pp8-linux-ia32/blink_image_resources_200_percent.pak
releases/quasar-pp8-linux-ia32/content_resources_200_percent.pak
releases/quasar-pp8-linux-ia32/content_shell.pak
releases/quasar-pp8-linux-ia32/icudtl.dat
releases/quasar-pp8-linux-ia32/libffmpeg.so
releases/quasar-pp8-linux-ia32/libnode.so
releases/quasar-pp8-linux-ia32/LICENSE
releases/quasar-pp8-linux-ia32/LICENSES.chromium.html
releases/quasar-pp8-linux-ia32/natives_blob.bin
releases/quasar-pp8-linux-ia32/pdf_viewer_resources.pak
releases/quasar-pp8-linux-ia32/quasar-pp8
releases/quasar-pp8-linux-ia32/snapshot_blob.bin
releases/quasar-pp8-linux-ia32/ui_resources_200_percent.pak
releases/quasar-pp8-linux-ia32/version
releases/quasar-pp8-linux-ia32/views_resources_200_percent.pak
releases/quasar-pp8-linux-ia32/locales/am.pak
releases/quasar-pp8-linux-ia32/locales/ar.pak
releases/quasar-pp8-linux-ia32/locales/bg.pak
releases/quasar-pp8-linux-ia32/locales/bn.pak
releases/quasar-pp8-linux-ia32/locales/ca.pak
releases/quasar-pp8-linux-ia32/locales/cs.pak
releases/quasar-pp8-linux-ia32/locales/da.pak
releases/quasar-pp8-linux-ia32/locales/de.pak
releases/quasar-pp8-linux-ia32/locales/el.pak
releases/quasar-pp8-linux-ia32/locales/en-GB.pak
releases/quasar-pp8-linux-ia32/locales/en-US.pak
releases/quasar-pp8-linux-ia32/locales/es-419.pak
releases/quasar-pp8-linux-ia32/locales/es.pak
releases/quasar-pp8-linux-ia32/locales/et.pak
releases/quasar-pp8-linux-ia32/locales/fa.pak
releases/quasar-pp8-linux-ia32/locales/fake-bidi.pak
releases/quasar-pp8-linux-ia32/locales/fi.pak
releases/quasar-pp8-linux-ia32/locales/fil.pak
releases/quasar-pp8-linux-ia32/locales/fr.pak
releases/quasar-pp8-linux-ia32/locales/gu.pak
releases/quasar-pp8-linux-ia32/locales/he.pak
releases/quasar-pp8-linux-ia32/locales/hi.pak
releases/quasar-pp8-linux-ia32/locales/hr.pak
releases/quasar-pp8-linux-ia32/locales/hu.pak
releases/quasar-pp8-linux-ia32/locales/id.pak
releases/quasar-pp8-linux-ia32/locales/it.pak
releases/quasar-pp8-linux-ia32/locales/ja.pak
releases/quasar-pp8-linux-ia32/locales/kn.pak
releases/quasar-pp8-linux-ia32/locales/ko.pak
releases/quasar-pp8-linux-ia32/locales/lt.pak
releases/quasar-pp8-linux-ia32/locales/lv.pak
releases/quasar-pp8-linux-ia32/locales/ml.pak
releases/quasar-pp8-linux-ia32/locales/mr.pak
releases/quasar-pp8-linux-ia32/locales/ms.pak
releases/quasar-pp8-linux-ia32/locales/nb.pak
releases/quasar-pp8-linux-ia32/locales/nl.pak
releases/quasar-pp8-linux-ia32/locales/pl.pak
releases/quasar-pp8-linux-ia32/locales/pt-BR.pak
releases/quasar-pp8-linux-ia32/locales/pt-PT.pak
releases/quasar-pp8-linux-ia32/locales/ro.pak
releases/quasar-pp8-linux-ia32/locales/ru.pak
releases/quasar-pp8-linux-ia32/locales/sk.pak
releases/quasar-pp8-linux-ia32/locales/sl.pak
releases/quasar-pp8-linux-ia32/locales/sr.pak
releases/quasar-pp8-linux-ia32/locales/sv.pak
releases/quasar-pp8-linux-ia32/locales/sw.pak
releases/quasar-pp8-linux-ia32/locales/ta.pak
releases/quasar-pp8-linux-ia32/locales/te.pak
releases/quasar-pp8-linux-ia32/locales/th.pak
releases/quasar-pp8-linux-ia32/locales/tr.pak
releases/quasar-pp8-linux-ia32/locales/uk.pak
releases/quasar-pp8-linux-ia32/locales/vi.pak
releases/quasar-pp8-linux-ia32/locales/zh-CN.pak
releases/quasar-pp8-linux-ia32/locales/zh-TW.pak
releases/quasar-pp8-linux-ia32/resources/app.asar
releases/quasar-pp8-linux-ia32/resources/electron.asar
